@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --accent-color: #1789fc;
  --accent-color-semi-transparent: rgba(23, 137, 252, 0.502);
  --accent-color-transparent: #1789fc00;
}

input[type="radio"]:checked + label {
  background: var(--accent-color);
  color: #fff;
  transition: all ease 500ms;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  padding: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  color: #2c3e50;
  font-size: 13px;
  transition: all 0.25s ease;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border: 1px solid var(--accent-color-semi-transparent);
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible {
  border: 1px solid var(--accent-color);
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}