@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --accent-color: #1789fc;
  --accent-color-semi-transparent: rgba(23, 137, 252, 0.502);
  --accent-color-transparent: #1789fc00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(61, 61, 61);
  background: linear-gradient(
    280deg,
    rgba(61, 61, 61, 1) 0%,
    rgba(36, 36, 36, 1) 35%,
    rgba(36, 36, 36, 1) 100%
  );
}

.container {
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.interact-btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-btn {
  width: 50%;
  position: relative;
  color: white;
  border: none;
  padding: 1rem;
  background: var(--accent-color);
  font-weight: bold;
  font: inherit;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease;
  border-radius: 0.3rem;
}

.nav-btn:hover {
  transform: scale(1.05);
}

.input-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
}

.input-container > input {
  width: 100%;
}

.input-container > svg {
  position: absolute;
}

.end-icon {
  cursor: pointer;
  margin-left: -25px;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
}

.fieldIcon {
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
}

.passwordChecklist {
  margin-bottom: 10px;
  font: inherit;
  font-weight: bold;
  text-indent: 1rem;
}

.passwordChecklist > li {
  transition: all 200ms ease;
}

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  outline: 1px solid #ccc;
  font-size: 13px;
  margin-bottom: 10px;
  border-radius: 0.3rem;
}

.inline-radio > div {
  position: relative;
  flex: 1;
  border-radius: 0.3rem;
}

.inline-radio > div > label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(117, 117, 117);
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #ccc;
}

.inline-radio > div > input {
  width: 100%;
  opacity: 0;
  height: 35px;
  cursor: pointer;
}

.inline-radio > div:last-child label {
  border-right: 0;
}


.sites {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  justify-content: center;
}

.sites-input {
  max-height: 25rem;
  overflow-y: auto;
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

.sites > label {
  width: fit-content;
}

.delete-site {
  transition: color 100ms linear;
  animation: none;
  position: absolute;
}

.delete-site:hover {
  color: red;
  animation: wiggle 1000ms;
}

@keyframes wiggle {
  0% {transform: rotate(10deg) translate(0, -50%);}
  25% {transform: rotate(-10deg) translate(0, -50%);}
  50% {transform: rotate(20deg) translate(0, -50%);}
  75% {transform: rotate(-5deg) translate(0, -50%);}
  100% {transform: rotate(0deg) translate(0, -50%);}
}

input[type="radio"]:checked + label {
  background: var(--accent-color);
  color: #fff;
  transition: all ease 500ms;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✕";
  position: absolute;
  top: 0.525em;
  left: 0.18em;
  font-size: 1.375em;
  color: var(--accent-color);
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Toast */
@keyframes toast-slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.error-container {
  width: 100%;
  height: 2.5rem;
}

.form-error {
  left: 1rem;
  bottom: 1rem;
  min-height: 2.5rem;
  border-radius: 10rem;
  padding: 0.5rem;
  z-index: 999998;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  animation: toast-slide-in 0.3s;
  will-change: transform;
  transition: all 0.3s;
}

/* utils */
.invisible {
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

li {
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  color: #2c3e50;
  font-size: 13px;
  transition: all 0.25s ease;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border: 1px solid var(--accent-color-semi-transparent);
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible {
  border: 1px solid var(--accent-color);
  outline: none;
}

.error {
  color: red;
}

.success {
  color: limegreen;
}

.submitted {
  text-align: center;
  font-size: 1.5rem;
}

/* media queries */
@media (min-width: 961px) {
  .container {
    width: 40vw;
    max-width: 40rem;
  }
}

@media (max-width: 960px) {
  .container {
    width: 80vw;
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    width: 100vw;
    max-width: 100%;
  }
}
