* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(61, 61, 61);
  background: linear-gradient(
    280deg,
    rgba(61, 61, 61, 1) 0%,
    rgba(36, 36, 36, 1) 35%,
    rgba(36, 36, 36, 1) 100%
  );
}

.form {
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  width: 50vw;
  max-width: 40rem;
  height: 30rem;
  position: relative;
  flex: 1;
  background-color: white;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  overflow: hidden;
}

.form > * {
  width: 100%;
}

.interact-btns {
  max-height: 5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 1rem;
  display: inline-flex;
  gap: 1rem;
}

.interact-btns > button {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

fieldset {
  position: relative;
  display: flex;
  height: 3rem;
  overflow: hidden;
  justify-content: space-around;
}

/* utils */
.invisible {
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

li {
  list-style: none;
}

.error {
  color: red;
}

.success {
  color: limegreen;
}

.togglePassword {
  cursor: pointer;
  margin-left: -25px;
}